
    body.mfg
    {
        background-color:           #ffffff;
        margin:                     auto;
        overflow:                   hidden;
        text-align:                 center;
    }
