
    body.mfg
    {
        background-color:           #ffffff;
        margin:                     25px;
        overflow:                   hidden;
        text-align:                 center;
    }

    div.preloader
    {
        margin:                     270px 0 0 0;
    }
